<!DOCTYPE html>
<html>
	<head>
		<title>Multivocal</title>

		<script> ʕ•͡౪•ʔ  h e l l o </script>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<script>
	 		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  		ga('create', 'UA-101609891-1', 'auto');
	  		ga('send', 'pageview');
		</script>

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/style.css" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">

		<meta property="og:title" content="Multivocal">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <meta property="og:description" content="">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

	</head>

	<body>
		<div class="border-container">
			<div class="top-border border"></div>
	        <div class="bottom-border border"></div>
	        <div class="left-border border"></div>
	        <div class="right-border border"></div>
		</div>

		<div class="page-content">

			<header>
				<div class="header-content">
					<div class="header-branding">
						<a href="/"><img src="/images/multivocal_logo.svg" alt="Multivocal logo" class="header-branding-image"></a>
					</div>

					<nav class="header-navigation">
						<ul>
							{{# each navLinks}}
								<li {{#ifeq ../section key}}class="active header-navigation-item"{{else}}class="header-navigation-item"{{/ifeq}}>
									<a href="{{ href }}">{{ label }}</a>
								</li>
							{{/each}}
						</ul>
					</nav>
				</div>
			</header>

			<main>
				{{{body}}}
			</main>

			<footer>
				{{#if user}}
					<li><a href="/keystone/signout">Sign Out</a></li>
				{{else}}
					<li><a href="/keystone/signin">Sign In</a></li>
				{{/if}}
			</footer>
		</div>


		<script src="/js/jquery/jquery-2.1.4.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
